@import 'tailwindcss';

@plugin 'daisyui' {
    exclude: rootscrollgutter;
}

@import '@fontsource-variable/plus-jakarta-sans';

input::-ms-reveal,
input::-ms-clear,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

body {
    font-family: 'Plus Jakarta Sans Variable', sans-serif;
}

.btn-primary {
    @apply bg-emerald-600 hover:bg-emerald-700 text-white border-none;
}

.btn-primary:disabled {
    @apply bg-emerald-600 text-gray-200/50 saturate-35 border-none;
}