@import 'tailwindcss';

@plugin 'daisyui' {
    exclude: rootscrollgutter;
}

@import '@fontsource-variable/dm-sans';

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

body {
    font-family: 'DM Sans Variable', sans-serif;
}